html {}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display:flex;
  flex-direction: column;
  min-height: 100vh; /* Takes full height of screen */
  margin: 0;
}

a {
  color: rgb(0, 0, 0)
}

h1 {
  font-family: 'Montserrat';
  text-align: center;
}

.content {
  font-family: 'Montserrat';
  margin-top:100px;
  margin-left: 360px;
  margin-right: 360px;
  line-height: 40px;
  font-size: 18px;
}
/*Home*/
.drawing {
  width:400px; 
  height:auto;
  display: block;
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: -1;}
.name {
  text-align: center;
  font-size: 64px;
  text-shadow: 0px 4.5px 0rem rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  font-weight: bold;
  padding-top: 400px;
  font-family: 'Montserrat'}
.name-text {
    font-size: 32px;
    font-weight: bold;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    text-align: center;}

footer {
  margin-top:auto;
  font-family:'Courier New', Courier, monospace;
  background-color:black;
  text-align:center;
  color:white;
  padding:10px;
  font-size:12px;
}

/*navigation bar */
nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  gap: 1 rem;
}
nav ul li {
  display: inline;
} 
nav ul li:not(:last-child)::after {
  content: " ● ";
  padding: 2px;
}

.brand {
  position:absolute;
  padding: 10px;
  font-family: 'Montserrat'
}

ul li {
  text-align: left;
}

a, a:visited {
  text-decoration: none;
  color: #777777;
}

a:hover {
  text-decoration: underline;
}